.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav.menu {
  display: flex;
  flex-direction: row;
}

section.mega-menu > div > div {
  padding: 5em;
  display: none;
}

.mega-menu {
  display: none;
  background: #cecece;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 50px;
  padding: 3em;
}

.mega-menu.active {
  display: block;
}

section.mega-menu > div > div.active {
  display: block;
}
